.cnt-linktree {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(23, 23, 23, 0.2);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  padding: 3vw 5vw;
}

@media screen and (max-width: 605px) {
  @import "./_m_Linktree.scss";
}
