.cnt-link-button {
  width: 80%;
  max-width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
}

.tt-link {
  text-decoration: none;
  color: black;
}
