.cnt-link-button {
  width: 80%;
  max-width: 500px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px auto;
  background-color: white;
  border-radius: 2px;
}

.tt-link {
  text-decoration: none;
  color: black;
}
